*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#9dc8ec ;
    height: 100%;
}

.grid {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 13em auto 7em; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header"
      "noticia"
      "pie"; 
  }
 

/* header */

.header {
    grid-area: header;
    background-color: #23485a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.header img{
    width: 200px;
    margin-left: 50px;
    
}

.nav ul{
    display: flex;
    list-style: none;
    padding-right: 22px;
    }

.nav li:hover {
    transform: scale(1.2);
    color: white;
    
}

.nav li {
    transition: transform 0.8s;
    
}

.fuenteNav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: white;
    padding: 25px;
    text-decoration: none;
  
}


  
  




 /* Section noticias */

 .noticia { grid-area: noticia; }

.main{
    background-color: #9dc8ec    ;
    padding: 10px;
    margin: 0 auto;
    max-width: 1080px;
    height: 100%;
    min-height: calc(100vh - 200px - 116px);
}


.main h2{
    font-family: sans-serif;
    font-size: 50px;
    padding: 40px ;
    
}


.noticiasImagenes{
    border: solid 5px grey;
    width: 800px;
}

.main p{
    font-family: sans-serif;
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: justify;

}

.main section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.main .section2{
    border-top: solid 2px lightgrey;
}

.main .section3{
    border-top: solid 2px lightgrey;
}

/*  Footer */


.pie{
    grid-area: pie;
    background-color:#23485a ;
    height: 128px;
}

.imgRedes{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.imgRedes ul{
    list-style: none;
}

.redes{
    display: flex;
}

.redes li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    padding: 0px 20px;
}

.pie  h3{
    padding-left: 10px;
    padding-bottom: 10px;
}

.pie img{
    width: 100px;
    padding-left: 15px;
}


/* ----------------INSTITUCIONAL----------------------- */

.historia{
        display: flex;
        align-items: center;
}

.titulos{
    font-size: 65px;
}

.imgCarousel{
    ;
}


/* ---------------REGLAMENTO-------------------------- */
.reglamento h2{
    font-family: sans-serif;
    font-size: 50px;
    padding: 40px;
}

/* css boostrap */
.probando{
    justify-content: flex-end;
}

/* ---------------CAPACITACION-------------------------- */

/* header */
.header{
    background-color: #23485a;
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.fotoLogo{
    height: 199px;
}

.nav{
    padding-right: 10px;
}

.linkNav{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    margin: 10px;
}

.nav li:hover{
    transform: scale(1.2);
}

.nav li {
    transition: transform 0.8s;

}
/* main */

.container {
    height: 65vh;
}

.mainCapacitacion{
    background-color: #9dc8ec;
    margin: 0 auto;
    height: 100%;
    
}
.infoCapacitacion{
    padding: 121px;
    display: flex;
    align-items: center;
}
.fotoCurso{
    width: 650px;
}
/* footer */

.pie{
    grid-area: pie;
    background-color:#23485a ;
    height: 128px;
}

.imgRedes{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.imgRedes ul{
    list-style: none;
    padding-right: 10px;
}

.redes{
    display: flex;
}

.redes li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    padding: 0px 20px;
}

.pie  h3{
    padding-left: 10px;
    padding-bottom: 10px;
}

.pie img{
    width: 100px;
    padding-left: 15px;
}

.copyrFooter {
    font-size: 20px;
}

/* ---------------CONTACTO-------------------------- */

.main{
    background-color: #9dc8ec    ;
    padding: 10px;
    margin: 0 auto;
    max-width: 1080px;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonContacto{
    background-color: rgb(197, 197, 233);
    font-size: 20px;
    border-radius: 10px;
    padding: 2px;
}

.mapa {
    padding: 70px 15px;
}



/* ---------MEDIA QUERYS-------------- */

/* Capacitacion */
@media only screen and (min-width: 1024px){

}

@media only screen and (min-width: 768px) and (max-width: 1199px){
    .navbar{
        display: flex;
        flex-wrap: nowrap;
    }

    .infoCapacitacion {
        /* padding: 33px; */
        display: flex;
        align-items: center;
    }
  .fotoCurso{
      width: 340px;
  }
}

@media only screen and (max-width: 767px) { 
    .navbar{
        display: flex;
        flex-wrap: nowrap;
    }
    
    .infoCapacitacion {
        padding: 60px;
    }
    
    .fotoCurso{
        width: 340px;
    }
 }

